/**
* Front Editor CSS
**/
.thaos {
    text-align: center;
    position: relative;
    width:100%;
}

.thaos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.thaos-item{
    padding-left: 30px;
    padding-bottom: 30px;
    max-width: 25%;
}

.thaos .thserviceitem {
    display: inline-block;
    width: 100%;
    padding: 20px 40px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.thboxservice p,
.thserviceitem p{
    color: #313131;
}

.thaos .thaos-txt {
    color: #237dd1;
    word-break: break-all;
}

.thaos .border-bottom-hover:hover {
      cursor: pointer;
      border-bottom: 5px solid #237dd1;
}

.thaos .angebot-icon {
    font-size: 4em;
    margin-bottom: 15px;
}

.thboxservice{
    margin-bottom: 30px;
}

.thserviceitem p{
    word-break: break-all;
}

.thaos-item a,
.thaos-item a:link{
    text-decoration: none;
    color:#313131 !important;
}

.thaos-item:hover,
.thaos-item a:hover{
    opacity: 0.7;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

@media (max-width: 991.98px) {

    .thboxservice {
        margin-bottom: 0px;
    }

    .thaos .thserviceitem{
        padding: 20px 30px;
    }

    .thaos-item{
        padding-left: 0;
        max-width: 100%;
    }

    .thaos-container{
        flex-wrap: wrap;
    }
    
}
